anyascii
asgiref
beautifulsoup4
certifi
charset-normalizer
crispy-bootstrap5
crispy-tailwind
defusedxml
distlib
dj-database-url
Django
django-auto-logout
django-cors-headers
django-crispy-forms
django-environ
django-filter
django-modelcluster
django-permissionedforms
django-taggit
django-treebeard
djangorestframework
djangorestframework-simplejwt
draftjs-exporter
env
et-xmlfile
filelock
filetype
html5lib
idna
joblib
l18n
laces
Markdown
numpy
openpyxl
pandas
pi
Pillow
pillow_heif
pipenv
platformdirs
psycopg2
psycopg2-binary
PyJWT
python-dateutil
python-dotenv
pytz
requests
scikit-learn
scipy
six
soupsieve
sqlparse
telepath
threadpoolctl
typing_extensions
tzdata
urllib3
virtualenv
wagtail
webencodings
Willow
xgboost
