anyascii==0.3.2
asgiref==3.7.2
beautifulsoup4==4.12.3
certifi==2023.11.17
charset-normalizer==3.3.2
crispy-bootstrap5==2023.10
crispy-tailwind==1.0.1
defusedxml==0.7.1
distlib==0.3.7
dj-database-url==2.1.0
Django==4.2.7
django-auto-logout==0.5.1
django-cors-headers==4.3.1
django-crispy-forms==2.1
django-environ==0.11.2
django-filter==23.5
django-modelcluster==6.3
django-permissionedforms==0.1
django-taggit==5.0.1
django-treebeard==4.7.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
draftjs-exporter==5.0.0
env==0.1.0
et-xmlfile==1.1.0
filelock==3.13.1
filetype==1.2.0
html5lib==1.1
idna==3.6
joblib==1.4.2
l18n==2021.3
laces==0.1.1
Markdown==3.5.1
numpy==2.0.1
openpyxl==3.1.2
pandas==2.2.2
pi==0.1.2
Pillow==10.1.0
pillow_heif==0.16.0
pipenv==2023.11.15
platformdirs==4.0.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
PyJWT==2.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2023.3.post1
requests==2.31.0
scikit-learn==1.5.1
scipy==1.14.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
telepath==0.3.1
threadpoolctl==3.5.0
typing_extensions==4.9.0
tzdata==2023.3
urllib3==2.2.1
virtualenv==20.24.7
wagtail==6.0.2
webencodings==0.5.1
Willow==1.8.0
xgboost==2.1.0
